/mobilenet/pth/
/.vscode/
/CUDA_DigitallyReconstructedRadiographs/SiddonPythonModule/.idea/
/CUDA_DigitallyReconstructedRadiographs/SiddonPythonModule/build/
/DigitallyReconstructedRadiographs/DRRClassLib/build/
/CUDA_DigitallyReconstructedRadiographs/SiddonClassLib/build/
/mobilenet/result_r/
/mobilenet/result_tx/
/mobilenet/result_ty/
/mobilenet/result_tz/
/mobilenet/classlabel.json
/mobilenet/err.txt
/test/
/CUDA_DigitallyReconstructedRadiographs/
/GUI/img/
/resnet/pth/
/photodraw/
/resnet/
/GUI/img_rgb.jpg
/GUI/img_rgb3.jpg
/GUI/main - 副本.ui
/GUI/ui_main1.py
/GUI/新建 文本文档.txt
/GUI/modules/ui_main - 副本.py
/GUI/.pytest_cache/
/GUI/.idea/
/resnet/
